/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    overflow-x: hidden;
    overflow-y: auto;
}

p, a, li {
    line-height: 1.5em;
}

header {
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-bottom: 0;
}

header, header *, main * {
    background-color: #222;
}

header, main section, h2, p {
    border: 1px #fff solid;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    grid-template-rows: 1fr;
    overflow-x: auto;
    min-width: auto;
}

main section {
    padding: 20px;
    min-height: 100%;
    min-width: 280px;
}

h2 {
    margin: 0px;
    text-align: center;
    background-color: #333;
}

h2, a {
    text-wrap: nowrap;
}

input, p, footer {
    display: none;
}

@media (width <= 980px) {
    body {
        min-height: 93vh;
        height: 94vh;
        grid-template-rows: auto 1fr 120px;
    }

    header {
        margin: 40px;
        margin-bottom: 0;
    }

    main {
        grid-template-rows: auto 1fr auto 30px;
        gap: 40px;
        padding: 40px;
        padding-top: 0;
    }

    p {
        grid-row: 3 / span 1;
        margin: 0;
        display: block;
        text-align: center;
        min-width: 0;
        overflow: hidden;
    }

    h1 {
        min-width: 0;
        text-wrap: nowrap;
        overflow: hidden;
        text-align: center;
    }

    h2, h1, li {
        font-size: 200%;
    }

    input {
        grid-row: 4 / span 1;
        display: block;
        margin-top: -20px;
    }

    img {
        grid-row: 4 / span 1;
    }

    section {
        grid-area: 2 / 1 / span 1 / span 6;
    }

    input:not(:checked) + section {
        display: none;
    }

    input:checked + section  {
        display: block;
        overflow: auto;
    }

    footer {
        display: block;
        grid-row: 3 / span 1;
        text-align: center;
        color: #555;
    }
}