body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}

div {
    border: black 5px solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-1 {
    grid-area: 1 / 1 / span 1 / span 3;
}

.item-2 {
    grid-area: 2 / 3 / span 1 / span 3;
}

.item-3 {
    grid-area: 3 / 1 / span 1 / span 3;
}

.item-4 {
    grid-area: 4 / 3 / span 1 / span 3;
}

.item-5 {
    grid-area: 5 / 1 / span 1 / span 3;
}